<div class="service-show-background">
  <h1 class="title-show-page user-service-header"><%= @service.title.split.map(&:capitalize).join(' ') %>
  </h1>
  <div class = "user-description-card">
    <div class = "service-show-card">
      <div>
          <p>
          <% if @service.days>=24 %>
            <%= @service.days / 24 %> Day<%= @service.days>=48 ? 's' : '' %>
          <% else %>
          <%= @service.days %> Hour<%= @service.days>1 ? 's' : '' %>
          <% end %>
          <span class="show-dot"></span>
          <%= @service.location %>
          <span class="show-dot"></span>
          <%= @service.category %>
           <h2>$<%= @service.price %></h2>
        <p><%= @service.description %></p>
      </div>
      <div class="flexbox">
        <div class="description-card">


        </div>
        <div>


        </div>
      </div>
    </div>
    <div class = "service-show-profile">
      <%= link_to user_path(@service.user) do %>
        <% if @service.user.name %>
          <h2><%= @service.user.name %></h2>
        <% end %>
        <% if @service.user.gender %>
          <p> <%= @service.user.gender %></p>
        <% end %>
        <h4>About Me</h4>
        <% if @service.user.bio %>
          <p> <%= @service.user.bio %></p>
        <% end %>

      </div>
    <% end %>
  </div>
  <% if current_user == @service.user %>
    <div class="flexbox">
      <%= link_to edit_service_path(@service) do %>
        <div class="center"><button type="button" class="service-button">Edit Experience</button></div>
      <% end %>
    </div>
  <% else %>
    <div class = "user-service-card">
      <%= simple_form_for @appointment, url: service_appointments_path(@service) do |f|%>
        <div onchange="window.endDate(<%= @service.days %>)">
          <%= f.input :start_day, :label => "When would you like to go?", :as => :string, required: true, :input_html => {:class => "datepicker"} %>
          <div id = end_date>
          </div>
        </div>
        <div class="center"><%= f.submit "Make a booking", :class => "service-button" %></div>
      <% end %>
    </div>
  <% end %>
  <div class="trapezium-bottom-right">
</div>
</div>

<div class="trapezium-bottom-right">
</div>

