<div class = "service-show-page">
  <h1 class="center"><%= @service.title %></h1>
  <div class = "flex-box">
    <div class = "flex-initial service-card">
      <p>Description: <%= @service.description %></p>
      <p>Location: <%= @service.location %></p>
      <p>Price: $<%= @service.price %></p>
      <p>Category: <%= @service.category %></p>
    </div>
    <div class = "flex-initial user-card">
        <% if @service.user.name %>
          <h2><%= @service.user.name %></h2>
        <% end %>
        <% if @service.user.bio %>
          <%= @service.user.bio %>
        <% end %>
        <% if @service.user.photo %>
          <%= @service.user.photo %>
        <% end %>
        <% if @service.user.gender %>
          <%= @service.user.gender %>
        <% end %>
        <% if @service.user.languages %>
          <%= @service.user.languages %>
        <% end %>
    </div>
  </div>
  <div class = "book-appointment">
    <%= simple_form_for @appointment, url: service_appointments_path(@service) do |f|%>
      <%= f.input :start_day, as: :date, html5: true %>
      <%= f.input :end_day, as: :date, html5: true %>
      <div class="center"><%= f.submit "Book Appointment!", :class => "btn submit-btn" %></div>
    <% end %>
  </div>
</div>
