

  <h1 class="title-show-page"><%= @service.title %> <button type="button" class="btn btn-outline-info">Edit Service</button></h1>


  <div class = "service-show-container">

    <div class = "service-show-profile">

        <% if @service.user.name %>
          <h2><%= @service.user.name %></h2>
        <% end %>
         <% if @service.user.gender %>
          <p> <%= @service.user.gender %></p>
        <% end %>
        <h4>About Me</h4>
        <% if @service.user.bio %>
          <p> <%= @service.user.bio %></p>
        <% end %>
        <% if @service.user.photo %>
          <%= @service.user.photo %>
        <% end %>



    </div>

    <div class = "service-show-card">
      <h3>Description</h3> <p><%= @service.description %></p>
      <h3>Location</h3> <p><%= @service.location %></p>
      <h3>Price</h3> <p>$<%= @service.price %></p>
      <h3>Category</h3> <p><%= @service.category %></p>
    </div>

  </div>
  <div class = "book-appointment">
    <%= simple_form_for @appointment, url: service_appointments_path(@service) do |f|%>
      <%= f.input :start_day, as: :date, html5: true %>
      <%= f.input :end_day, as: :date, html5: true %>
      <div class="center"><%= f.submit "Book Appointment!", :class => "btn submit-btn" %></div>
    <% end %>
  </div>

