<div class="service-show-background">
  <h1 class="title-show-page user-service-header"><%= @service.title %>
  </h1>
  <div class = "user-description-card">
    <div class = "service-show-card">
      <div>
        <h3>Description</h3>
        <p><%= @service.description %></p>
      </div>
      <div class="flexbox">
        <div class="description-card">
          <h3>Location</h3>
          <p><%= @service.location %></p>
          <h3>Category</h3>
          <p><%= @service.category %></p>
        </div>
        <div>
          <h3>Price</h3>
          <p>$<%= @service.price %></p>
          <h3>Duration</h3>
          <% if @service.days>=24 %>
            <p><%= @service.days / 24 %> Day<%= @service.days>=48 ? 's' : '' %></p>
          <% else %>
            <p><%= @service.days %> Hour<%= @service.days>1 ? 's' : '' %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class = "service-show-profile">
      <%= link_to user_path(@service.user) do %>
        <% if @service.user.name %>
          <h2><%= @service.user.name %></h2>
        <% end %>
        <% if @service.user.gender %>
          <p> <%= @service.user.gender %></p>
        <% end %>
        <h4>About Me</h4>
        <% if @service.user.bio %>
          <p> <%= @service.user.bio %></p>
        <% end %>
        <% if @service.user.photo %>
          <%= @service.user.photo %>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if current_user == @service.user %>
    <div class="flexbox">
      <%= link_to edit_user_registration_path(current_user) do %>
        <div class="center"><button type="button" class="service-button">Edit Profile</button></div>
      <% end %>
    </div>
  <% else %>
    <div class = "user-service-card">
      <%= simple_form_for @appointment, url: service_appointments_path(@service) do |f|%>
        <div onchange="endDate(<%= @service.days %>)">
          <%= f.input :start_day, :label => "Start Time", :as => :string, required: true, :input_html => {:class => "datepicker"} %>
          <div id = end_date>
          </div>
        </div>
        <div class="center"><%= f.submit "Book Appointment!", :class => "service-button" %></div>
      <% end %>
    </div>
  <% end %>
  <div class="trapezium-bottom-right">
</div>
</div>
