

<div class="edit-profile-btn">
<%= link_to "Create an Experience", new_service_path %>
</div>

<% if @user == current_user %>
<% else %>
  <div class="info-container">

    <div class="profile-container">
      <div class="profile-avatar">
        <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="avatar-bordered"/>
        <h4><%= @user.name %></h4>
        <p><strong><%= @user.gender %></strong></p>
      </div>
      <div class="profile-bio">
        <p> <strong>About Me</strong> </p>
        <p><%= @user.bio %></p>
      </div>
    </div>
  </div>
<% end %>


<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'services-hosted')" id="defaultOpen">My Listings(<%= @user.services.count %>)</button>
  <button class="tablinks" onclick="openCity(event, 'hosting-appointments')">My Attendees (<%= @user.service_appointments.count %>)</button>
  <button class="tablinks" onclick="openCity(event, 'attending-appointments')">My Bookings (<%= @user.appointments.count %>)</button>
</div>

</div>






<!-- Tab content -->
<div id="services-hosted" class="tabcontent">
  <div class="service-container">

    <div class="card-service-header">
        <div class="service">
          <h2>EXPERIENCE<h2>
        </div>
        <div class="service">
          <h2>PRICE</h2>
        </div>
        <div class="service">
          <h2>DESCRIPTION </h2>
        </div>
         <div class="service">
          <h2>CITY</h2>
        </div>
    </div>
   <% @user.services.each do |s| %>
    <div class="card-service">
      <div class="service">
        <h3><%= link_to s.title, service_path(s) %></h3>
      </div>
      <div class="service">
         <h3>$<%= s.price %></h3>
      </div>
      <div class="service">
        <h3> <%= s.description%></h3>
      </div>
       <div class="service">
        <h3><%= s.location %></h3>
      </div>
    </div>
  <% end %>
</div>


</div>

<div id="attending-appointments" class="tabcontent">
  <div class="card-service-header">
    <div class="service">
      <h2>HOST NAME<h2>
    </div>
    <div class="service">
      <h2>EXPERIENCE</h2>
    </div>
    <div class="service">
      <h2>START DATE</h2>
    </div>
     <div class="service">
      <h2>END DATE</h2>
    </div>
</div>
  <div class="service-container">
    <% @user.appointments.each do |a| %>
      <div class="card-service">
        <div class="service">
          <h3><%= link_to a.service.title, service_path(a.service) %></h3>
        </div>
        <div class="service">
           <h3><%= link_to a.service.user.name, user_path(a.service.user) %></h3>
        </div>
        <div class="service">
          <h3><%= a.start_day%></h3>
        </div>
         <div class="service">
          <h3><%= a.end_day %></h3>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div id="hosting-appointments" class="tabcontent">
  <div class="card-service-header">
    <div class="service">
      <h2>NAME<h2>
    </div>
    <div class="service">
      <h2>EXPERIENCE</h2>
    </div>
    <div class="service">
      <h2>START DATE</h2>
    </div>
     <div class="service">
      <h2>END DATE</h2>
    </div>
</div>
  <div class="service-container">
    <% @user.service_appointments.each do |a| %>
      <div class="card-service">
        <div class="service">
          <h3><%= link_to a.service.title, service_path(a.service) %></h3>
        </div>
        <div class="service">
           <h3><%= link_to a.user.name, user_path(a.user) %></h3>
        </div>
        <div class="service">
          <h3><%= a.start_day%></h3>
        </div>
         <div class="service">
          <h3><%= a.end_day %></h3>
        </div>
      </div>
    <% end %>
      </div>
</div>




