
<div class="info-container">

  <div class="profile-container">
    <div class="profile-avatar">
      <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="avatar-bordered"/>
      <h4><%= @user.name %></h4>
      <p><strong><%= @user.gender %></strong></p>

    </div>


    <div class="profile-bio">
      <p> <strong>About Me</strong> </p>
      <p><%= @user.bio %></p>
    </div>


  </div>
</div>


 <div class="new-service-btn">

<%= link_to "Create a Service", new_service_path %>
</div>



<div class="service-container">

   <% @user.services.each do |s| %>

    <div class="card-service">

    <div class="service">
      <h2><%= s.title %><h2>
    </div>

    <div class="service">
      <h4>Price</h4>
       <p> $<%= s.price %></p>
    </div>

    <div class="service">
      <h4>Description </h4>
      <p> <%= s.description%></p>

    </div>


     <div class="service">
      <h4>City</h4>
      <p><%= s.location %></p>

    </div>

  </div>
  <% end %>


