
<div class="trapezium-container">
 <div class="trapezium-text">
    <h1>Spurience</h1>
    <h5><em>Spur of the moment experiences </em></h5>
  </div>
  <div class="row">

      <div class="card-container">
        <div class="form-container">

          <%= form_tag services_path, method: :get do %>
            <%= label_tag "Location" %>
            <%= text_field_tag :location,
          params[:location],
          class: "form-control form-search-input",
          placeholder: "eg. Tokyo" %>
            <%= label_tag "Find an experience" %>
            <%= text_field_tag :title,
          params[:title],
          class: "form-control form-search-input",
          placeholder: "eg. Surf lessons " %>
            <%= submit_tag :Search, class: 'larry-home-button' %>
          <% end %>
          <!--  <#%= link_to services_path do %>
          <div class="btn btn-primary">Search</div>
        <#% end %> -->
        </div>



    </div>
  </div>



  <div class="trapezium-new">


  </div>
</div>
